*{
    box-sizing: border-box;
    margin: 0;
}
.header{
    background-color: rgb(3, 79, 145);
    height: 200px;
}
.title{
    color: rgb(227, 227, 49);
    text-align: center;
}
.main{
    height: auto;
    background-color: rgb(227, 227, 49);
}
.escudo{
    margin-left: 70px;
}
.button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: rgb(3, 79, 145);
    background-color: rgb(227, 227, 49);
}

.p-left{
    position: relative;
    left: 1000px;
}
.footer{
    background-color: rgb(3, 79, 145);
    height: 50px;
    margin: auto;
}
.title2{
    color: rgb(3, 79, 145);
    margin-bottom: 10px;
}
.padding{
    padding: 40px;
}
li a{

    color: white;
    text-decoration: none;

}
li a:hover{
    color: rgb(227, 227, 49);
    text-decoration: underline;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.column{
    display: flex;
    flex-direction: column;
}
li{

    list-style: none;
}
.hero{
    width: 600px;
    height: 300px;
}
.ico{
    width: 15px;
}
.white{
    color: white;
}
.texto{
    color: rgb(43, 77, 107);
}
.black{
    background-color: black;
    height: 30px;
}
.row .ico{
    margin: 0 -110px;
}
.space{
    background-color: rgb(3, 79, 145);
}
.centre{
    width: 80%;
    margin: auto;
}
